.bgr {
    height: 100vh;
    width: 100vw;
    background: {
        image: url('../../assets/bgr.png');
        size: cover;
        // Các thuộc tính CSS khác có thể thêm tại đây
    }
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 400px;
    height: 350px;
    background-color: white;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #0091ff;
    color: white;
    cursor: pointer;
}
.active {
    font-weight: bold;
}
